.jumbotron {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  .bg-video-wrap {
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 1;
    // center in IE 11
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 432px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba($black, .5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .bg-video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  video {
    max-width: unset;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .jumbotron-inner {
    position: relative;
    z-index: 3;
  }
}

